@charset "utf-8";
/* comment */
/*
스타일 태그 사용 x
*/

h1 {
	padding : 10px;
	background-color : blue;
	color : #00ff00;
	text-align : center;
}

.BUTTON_BFG {
	background:#3d94f6;
	background-image: -webkit-linear-gradient(top, #3d94f6, #1e62d0);
	background-image: -moz-linear-gradient(top, #3d94f6, #1e62d0);
	background-image: -ms-linear-gradient(top, #3d94f6, #1e62d0);
	background-image: -o-linear-gradient(top, #3d94f6, #1e62d0);
	background-image: -webkit-gradient(top, #3d94f6, #1e62d0);
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	color: #ffffff;
	font-family: Brush Script MT;
	font-size: 40px;
	font-weight: 100;
	padding: 40px;
	-webkit-box-shadow:1px 1px 20px 0 #000000;
	-moz-box-shadow:1px 1px 20px 0 #000000;
	box-shadow:1px 1px 20px 0 #000000;
	text-shadow:1px 1px 20px 0 #000000;
	border: 1px solid #337efd;
	text-decoration: None;
	display: inline-block;
	cursor: pointer;
	text-align: center;
}

.BUTTON_BFG:hover{
	border: 1px solid #333fd;
	background: #1e62df;
}




