<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>20211101_Servlet</display-name>
  
  <servlet>
  	<servlet-name>init_servlet</servlet-name>
  	<servlet-class>com.encore.ServletInitParam</servlet-class>
  	
  	<init-param>
  		<param-name>id</param-name>
  		<param-value>abcd</param-value>
  	</init-param>
  	
  	<init-param>
  		<param-name>pwd</param-name>
  		<param-value>1234</param-value>
  	</init-param>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>init_servlet</servlet-name>
  	<url-pattern>/initParam</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>